@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <br>
    <img src="/Imagenes/logo.png" height = "auto" width="700px">
    <br>
<<<<<<< HEAD
    <h1 class="pt-5">Trabajo Grupal De Disney 4 Info C</h1>
=======
    <h1 class="pt-5 letra">Trabajo Grupal De Disney 4 Info C</h1>
    
 
>>>>>>> 705f86887871b3a0c299a079e71bb4c7eca14d12
>>>>>>> cae56fbfc0f0f4e0ef9fe696b5376d55856b6b35
</div>

