@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <br>
    <img src="/Imagenes/logo.png" height = "auto" width="700px">
    <br>
    <h1 class="pt-5">Trabajo Grupal De Disney 4 Info C</h1>
</div>

