@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
<<<<<<< HEAD
    <h1>Welcome</h1>
    
=======
    <br>
    <img src="logo.png" height = "auto" width="700px">
    <br>
    <h1 class="pt-5">Trabajo Grupal De Disney 4 Info C</h1>
    
 
>>>>>>> 705f86887871b3a0c299a079e71bb4c7eca14d12
</div>

